.App {
    text-align: center;
}

.footer-container {
    display: flex;
    flex-direction: row;
    background-color: #495E57;
    color: white;
}

.footer-container ul{
    list-style: none;
    padding:0;
}

.footer-container img{
    height: 10rem;

}
.footer-column {
    margin:2rem;
}