.App {
    text-align: center;
}
* {
    font-family: "Markazi Text", "Karla", serif;
}
a:visited,
Link:visited,
a:link,
Link:link {
    text-decoration: none;
    color: black;
}

.footer-container {
    display: flex;
    flex-direction: row;
    background-color: #495E57;
    color: white;
}

.footer-container ul {
    list-style: none;
    padding: 0;
}

.footer-container img {
    height: 10rem;

}

.footer-column {
    margin: 2rem;
}

.nav-list {
    margin: 2rem;
    overflow: hidden;
    display: inline-flex;
    color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-family: 'Markazi Text', serif;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 27px;
    align-items: center;
    text-transform: capitalize;
}

.nav-list li {
    margin: 2rem;
    list-style-type: none;
}

h1 {
    font-family: "Markazi Text", Serif, serif;
    font-style: normal;
    font-weight: 500;
    font-size: 64px;
    line-height: 77px;
    color: #F4CE14;
}

p {
    font-family: "Karla", "Faustina", serif;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
}

h2 {
    font-family: 'Markazi Text', "Faustina", serif;
    font-style: normal;
    font-weight: 500;
    font-size: 36px;
    line-height: 43px;

}

.card-body {
    background: #EDEFEE;
}

.card-price {
    text-align: right;
    color: #EE9972;
}

.card-title {
    font-family: "Markazi Text";
    font-size: 24px;
}

.card {
    border-radius: 5rem;
    width: 18rem;
    margin: 2rem;
    flex-basis: 100%;

}

.card-img-top {
    height: 8rem;
}
.card-img-center {
    height: 3rem;
    border-radius: 25%;
    margin:1rem;
   justify-items: right;
}

.card-grouping {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.testimonials{
    background: #F4CE14;
    height: 20rem;
    flex-basis: 100%;
    flex-wrap: wrap;

}
.test-grouping{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    flex-basis: 100%;
    flex-shrink: revert;


}
.MainHeader{
    background: #495E57;
    color: white;
display: flex;
    flex-direction: row;
}
.Mainblurb{
    margin:2rem;
    padding:1rem

}
.MainHeader img{
    position: absolute;
    width: 480px;
    height: 450px;
    left: 785px;
    top: 153px;
}
.Specialsmain {
    padding:2rem;
    margin:5rem;
}
.About-sec{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    flex-basis: 100%;

}
.container{
    position: relative;
    margin: 2rem;
    padding:2rem
}
.container > img{
    position: absolute;
    top:28%;
    right:30%;
}
.container > img:first-child{
    z-index: 5;
    top:0;
    right:0;
}
#AboutP {
    padding-right: 5rem;
    padding-bottom: 12rem;

}
.Reservation Button{
    background-color:#F4CE14;
    border-radius: 8rem;
}
#Delivery-button{
    background-color: #F4CE14;
    border-color: #F4CE14;
}

.detailForm {
    display: flex;
    flex-direction: column;
    margin:2rem

}
.Pending {
    display: flex;
    flex-direction: column;


}
.ReserveComp {
    display: flex;
flex-direction:column;
    background: #F4CE14;
    text-align: center;

}
.Reserform {
    padding:2rem
}
.BackButton {
    background: #495E57;
    color: white;
    border-radius: 8rem;
    margin:2rem;

}
.radio{
    display: flex;
    flex-direction: row;
    padding: 1rem;
}
.fieldGroup{
    display: flex;
    flex-direction: column;
}